<mat-toolbar class="top-nav">
    <mat-icon (click)="SideNav.toggle()">menu</mat-icon>
    <span>My App {{SideNav.opened}}</span>
    <span class="toolbar-spacer"></span>
    <img src="assets/images/user.png" width="50"> 
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #SideNav id="sidenav" class="sidenav" mode="side" opened>
        <div class="sidenav__items">
            <a href="#" class="sidenav__items-item">
                <i class="bi bi-columns-gap"></i>
                <p>Dashboard</p>
            </a>

            <a href="#" class="sidenav__items-item">
                <i class="bi bi-file-text"></i>
                <p>Tasks</p>
            </a>

            <a href="#" class="sidenav__items-item">
                <i class="bi bi-people"></i>
                <p>Team</p>
            </a>

            <a href="#" class="sidenav__items-item">
                <i class="bi bi-chat-dots"></i>
                <p>Chat</p>
            </a>

            <a href="#" class="sidenav__items-item">
                <i class="bi bi-bar-chart"></i>
                <p>Report</p>
            </a>

            <a href="#" class="sidenav__items-item">
                <i class="bi bi-gear"></i>
                <p>Settings</p>
            </a>
        </div>

        <div class="sidenav__footer">
            <a href="#" class="sidenav__items-item">
                <i class="bi bi-info-circle"></i>
                <p>help</p>
            </a>

            <a href="#" class="sidenav__items-item">
                <i class="bi bi-box-arrow-right"></i>
                <p>Logout</p>
            </a>
        </div>
    </mat-sidenav>
  
    <div class="sidenav-content">

        <mat-toolbar class="support-toolbar">
            <span class="nav-toggle" id="nav-toggle" *ngIf="SideNav.opened" (click)="smallNav()"><i class="bi bi-arrow-right-circle"></i></span>
            <span class="toolbar-spacer"></span>
            <button mat-button color="primary" routerLink="/dashboard/async-validation">Async-Validation</button>
        </mat-toolbar>
        
        <div class="content-container">
            <router-outlet></router-outlet>        
        </div>
    </div>
  
</mat-sidenav-container>
